# Les ensembles sont utilisés pour stocker plusieurs éléments dans une seule variable.

## Set est l'un des 4 types de données intégrés à Python utilisés pour stocker des collections de données, les 3 autres sont List , Tuple et Dictionary , tous avec des qualités et des utilisations différentes.

### Un ensemble est une collection non ordonnée , immuable* et non indexée .

#### La liste est une collection ordonnée et modifiable. Autorise les membres en double.
##### Tuple est une collection ordonnée et immuable. Autorise les membres en double.
###### Set est une collection non ordonnée, immuable* et non indexée. Pas de membres en double.
###### Le dictionnaire est une collection ordonnée** et modifiable. Pas de membres en double.

In [2]:
mySet = {"anana","orange","tomate"}
print(mySet)

{'orange', 'anana', 'tomate'}

In [3]:
#elle naccepte pas les doublons
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [4]:
#ici true et un son considerer comme la meme valeur car true est egal a 1 et comme les sets nacceptent pas les doublons donc
#cela sera supprimer
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [5]:
#ici true et un son considerer comme la meme valeur car flase est egal a 0 et comme les sets nacceptent pas les doublons donc
#cela sera supprimer
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

In [6]:
#les elements peuvent etre nimporte quelle type
set1 = {"abc", 34, True, 40, "male"}
print(type(set1))

<class 'set'>

In [7]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'banana', 'cherry', 'apple'}

In [8]:
#onverifie
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [9]:
#pour ajouter un element
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [10]:
#pour combiner deux elements on update au lieu de extend comme dans les listes
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'pineapple', 'banana', 'cherry', 'mango', 'apple'}

In [11]:
#on ajoute les elements d'une liste a un set
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'banana', 'orange', 'apple', 'cherry'}

In [12]:
#pour retirer la methode remove fonctionne bien
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [13]:
#pour retirer la methode discard fonctionne bien
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [14]:
#supprimer un element aleatoire car il nest pas indexe donc 

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [16]:
#vide le set

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [17]:
#supprimer le set
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [19]:
#on utilise l'union le set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [20]:
#La intersection()méthode renverra un nouvel ensemble, qui contient uniquement les éléments présents dans les deux ensembles
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [21]:
#La symmetric_difference_update()méthode conservera uniquement les éléments qui ne sont PAS présents dans les deux ensembles.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

In [22]:
#La symmetric_difference()méthode renverra un nouvel ensemble contenant uniquement 
#les éléments qui ne sont PAS présents dans les deux ensembles.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}