# Les éléments de tuple sont ordonnés, immuables et autorisent les valeurs en double.
## Les éléments de tuple sont indexés, le premier élément a un index [0], le deuxième élément a un index, [1]etc.
### Les tuples ne sont pas modifiables, ce qui signifie que nous ne pouvons pas modifier, ajouter ou supprimer des éléments une fois le tuple créé.

In [2]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [3]:
mytuple = ("apple","banana","cherry","apple","orange")
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'orange')

In [4]:
mytuple = ("apple","banana","cherry","apple","orange")
print(len(mytuple))

5

In [7]:
#il fut bien se souvenir des virgules ce sont les tuples ici
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [9]:
#les elements dun tuples peuvent etre n'importe quelle element 
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(type(mytuple))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [10]:
tuple2 = tuple(("anana","orange","salade","lemon"))
print(type(tuple2))

<class 'tuple'>

In [12]:
#impremer les element d'une liste
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [15]:
#les tuples une fois creer ne peuvent plus etre modifier mais il est possible de contourner cela 
#on tranforme en list on ajoute ensuite on retransforme en tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
x = list(thistuple)
x[6] = "velo"
y = tuple(x)
print(y)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'velo')

In [16]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("velo")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'velo')

In [18]:
#ajouter un tuples a un tuples

thistuple = ("apple", "banana", "cherry")
y = ("orange",)

thistuple += y
print(thistuple)
l = list(thistuple)

#puis on aleve un autre element dans notre liste
l.remove("banana")
thistuple = tuple(l)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'cherry', 'orange')

In [19]:
#delete notre liste
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)#normal que lerreur affiche car le tuple n'existe plus

NameError: name 'thistuple' is not defined

In [21]:
#on peut deballer des tuples comme suite
thistuple = ("apple", "banana", "cherry")
(blanc,rouge,bleue) = thistuple
print(blanc)
print(rouge)
print(bleue)

apple
banana
cherry

In [23]:
#Attribuez le reste des valeurs sous forme d'une liste appelée "rouge" :
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(bleue,jaune,*red) = fruits
print(bleue)
print(jaune)
print(*red)#avec letoile sa affiche juste les element
print(red)#sans l'etoile sa affiche sous forme de liste

apple
banana
cherry strawberry raspberry
['cherry', 'strawberry', 'raspberry']

In [24]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(*bleue,jaune,red) = fruits
print(bleue)
print(jaune)
print(red)

['apple', 'mango', 'papaya']
pineapple
cherry

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(bleue,*jaune,red) = fruits
print(bleue)
print(jaune)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [26]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [27]:
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
    print(thistuple[x])

apple
banana
cherry

In [28]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [29]:
#les jointures entre les tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [30]:
#multipli tout par 2
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')